{
    "extends": "eslint:recommended",
    "plugins": [
      "html"
    ],
    "env": {
        "browser": true
    },
    "settings": {
       "html/indent": "0",   // code should start at the beginning of the line (no initial indentation).
       "html/indent": "+2",  // indentation is the <script> indentation plus two spaces.
       "html/indent": "tab", // indentation is one tab at the beginning of the line.
       "html/report-bad-indent": 2,
       "html/xml-mode": true,
   },
    "rules": {
        "indent": [
            "error",
            "tab"
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "double"
        ],
        "semi": [
            "error",
            "always"
        ]
    }
}
